.Hero {
  background-color: $hero-footer-bg-color;
  text-align: center;
}

.hero-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 360px;

  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.42;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $hero-title-color;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero-overlay {
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-button {
  @extend %button;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $button-color;
  }
}
