$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$hero-title-color: #ffffff;
$address-contacts-color: rgba(255, 255, 255, 0.6);
$primary-bg-color: #ffffff;
$button-color: #ffffff;
$button-background: #2196f3;
$hero-footer-bg-color: #2f303a;
$button-bg-cl: #f5f4fa;
$body-bg-cl: #e5e5e5;
$border-cl: #afb1b8;

%button {
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $button-color;
  background-color: $accent-color;
  cursor: pointer;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
